<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbSchema" value="pacs" />
    <add key="NameSpaceModel" value="DBModels" />
    <add key="NameSapceMaping" value="DBModels.Mapping" />
  </appSettings>
  
  <connectionStrings>
    <add name="OracleConnectionString" connectionString="Data Source =ORCL; User Id =orcl; Password =admin" providerName="System.Data.OracleClient" />
    <add name="MySQLConnectionString" connectionString="server=192.168.1.224;port=3306;user id=root;password=system;database=spidercenter;" providerName="MySql.Data.OracleClient" />
    <add name="MSSQLConnectionString" connectionString="Data Source=192.168.1.211;Initial Catalog=Tfs_ITT;Persist Security Info=True;User ID=sa;Password=W0rk!ngdata;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PgConnectionString" connectionString="server=192.168.1.11;User ID=postgres;Password=postgres;Database=db_dev;Pooling=true;" providerName="PostgreSQL.Data.PostgreSQLClient" />
    <!--<add name="PgConnectionString" connectionString="server=192.168.1.224;Port=5432;User ID=postgres;Password=postgres;Database=spidercenter;Pooling=true;" providerName="PostgreSQL.Data.PostgreSQLClient"/>-->
    <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~App_DataTest.mdb;Persist Security Info=False;OLE DB Services=-1" providerName="Access" />
    <add name="SqlCe" connectionString="Data Source=test.sdf;" providerName="SqlCe" />
    <add name="SQLite" connectionString="Data Source=test.db;" providerName="Sqlite" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
